body{
    margin: 0;
    padding: 0;
    background: url(../images/tonyBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
p{
    color: #7e7e7e;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.logo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.info h1{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.logo a img{
    width: 50px;
    height: auto;
    padding: 10px;
}
.content{
    opacity: 0.2;
}
.contact-info{
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}
.contact-info :nth-child(4){
    width: 100%;
}
.contact-info img{
    width: 35px;
    height: auto;
    padding: 0 10px;
    background-color: #ffffff;
}
@media (min-width: 240px) and (max-width: 479px){
    .logo a img{
        margin-left: 10px;
    }
    .content{
        margin-top: 100%;
    }
}
@media (min-width: 480px) and (max-width: 720px){
    .content{
        margin-top: 22.5%;
    }
    .p{
        font-size: 10px;
    }
}














