body{
    margin: 0;
    padding: 0;
    background: url(../images/tonyBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
.logo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.info h1{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.logo a img{
    width: 35px;
    height: auto;
    padding: 10px;
}
.content{
    opacity: 0.2;
}
.contact-info{
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.contact-info :nth-child(4){
    width: 100%;
}
.contact-info img{
    width: 35px;
    height: auto;
    padding: 10px;
}
@media (min-width: 240px) and (max-width: 479px){
    .content{
        margin-top: 110%;
    }
}
@media (min-width: 480px){
    .content{
        margin-top: 30%;
    }
}














