body{
    margin: 0;
    padding: 0;
    background: url(../images/tonyBackground.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.logo>img{
    width: 35px;
    height: auto;
    padding: 10px;
}
.info{
    color: #fff;
}
.contact-info li{
    display: inline;
    padding: 15px 10px;
}
.contact-info :nth-child(4){
    width: 100%;
}
.contact-info img{
    width: 35px;
    height: auto;
}

















